.nav-padding {
  padding: 0 2rem 0 2rem;
}
.icons-alignment {
  margin: 2.5rem 3rem 0 0;
  text-decoration: none;
}
.link-alignment {
  margin: 4.9rem 7rem 0 0;
}
.ecom-link-color {
  color: var(--COLOR-SOCIAL-ICON);
}
.home-alignment {
  margin: 4.9rem 2rem 0 0;
}
.ecom-input {
  max-width: 100%;

  width: 40rem;
}
.input-update {
  padding: 7px 7px;
  border: 2px solid var(--BOX-SHADOW-LIGHTER);
}
.search-btn {
  padding: 0 5px 0 5px;
  cursor: pointer;
  background-color: var(--COLOR-PRIMARY);
  color: var(--COLOR-WHITE);
  border: 0;
}
.link:hover {
  cursor: pointer;
  color: var(--PRIMARY-HOVER);
}
.lg-margin-top {
  margin-top: 4.5rem;
}
.content-header {
  font-size: 4.3rem;
  font-weight: 700;
  /* line-height: 6.4rem; */
  letter-spacing: 1px;
  color: var(--COLOR-BLACK);
  /* margin-bottom: 1rem; */
}
/* CSS for badge alignment */
.icon-over-badge {
  left: 2rem;
  bottom: 1.5rem;
}
.ecom-badge-wrapper {
  position: relative;
}
.dropdown {
  position: relative;
}
.menu-container {
  width: 8vw;
  min-height: 8vh;
  background-color: var(--darkerofseconadary);
  position: absolute;
  right: 0;

  border-radius: 1rem;
  padding: 7px;
  z-index: 500;
}
.menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content-color {
  color: var(--NOTIFICATION-COLOR);
}
@media only screen and (max-width: 610px) {
  .content-header-responsive {
    font-size: 3rem;
  }
}
