.cart-page-container {
  display: flex;
  justify-content: space-around;
  padding: 3rem;
}
.cart-page-header {
  margin: 4rem 0 2rem 0;
  text-align: center;
}
.h-card-container {
  display: flex;
  max-width: 43rem;
  min-height: 28rem;
  box-shadow: 3px 5px 10px var(--BOX-SHADOW-LIGHTER);
  margin-bottom: 2rem;
}
.h-card-container img {
  max-width: 21rem;
  min-height: 28rem;
  object-fit: cover;
}
.horizontal-cards {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  flex: 0 0 auto;
}
.quantity {
  display: flex;
  margin: 2rem 0;
  column-gap: 1.5rem;
}
.plus-minus-button {
  display: flex;
}
.h-card-inside-content {
  background-color: var(--COLOR-WHITE);
  padding: 3rem;
}
.quant-font-size {
  font-size: 2rem;
}
.q-circle-btn {
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
  border: 1px solid var(--BOX-SHADOW);
  cursor: pointer;
}
.q-num-box {
  border: 1px solid var(--BOX-SHADOW);
  padding: 0 1.5rem;
  margin: 0 1rem;
}
.cart-btn {
  width: 19.8rem;
  margin: 0 0 2rem 0;
}
.price-details-container {
  background-color: var(--COLOR-WHITE);
  padding: 3rem;
  max-height: 34rem;
  max-width: 39rem;
  box-shadow: 3px 5px 10px var(--BOX-SHADOW-LIGHTER);
}
.price-card-flex {
  display: flex;
  justify-content: space-between;
}
.divider {
  border-bottom: 1px solid var(--BOX-SHADOW);
  margin: 1rem 0;
}
.m-sm {
  margin-top: 9px;
}
.order-btn {
  width: 26.6rem;
  height: 3.5rem;
  margin-right: 0;
  margin-left: 0;
}
