.login-signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}
.height-100 {
  min-height: 100vh;
}
.login {
  max-width: 33rem;
  min-height: 36rem;
  background-color: var(--BACKGROUND-BODY-COLOR);
  box-shadow: 3px 5px 10px var(--BOX-SHADOW-LIGHTER);
  border-radius: 0;
}
.login-bottom-margin {
  margin-bottom: 2rem;
}
.text-center {
  text-align: center;
}
.input-box {
  margin: 1rem 1rem 1rem 0;
  height: 3.5rem;
  border: 1px solid var(--BOX-SHADOW);
  padding-left: 5px;
}
.checkbox-size {
  height: 1.4rem;
  width: 1.4rem;
  margin: 5px 2px 0 0;
}
.forgot-psswrd-margin {
  margin: 5px 8px 0 0;
}
.forgot-psswrd {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.red-color {
  color: var(--ALERT-ERROR-COLOR);
}
.signup-page-link {
  text-decoration: none;
  color: var(--SOCIAL-ICON-COLOR);
  font-weight: 500;
  letter-spacing: 1px;
}
.signup-page-link-margin {
  margin: 0 0 1rem 3rem;
}
.login-button {
  height: 3.5rem;
  width: 29rem;
  margin: 2rem 1rem 2rem 0;
}
.test-login {
  color: var(--LINK);
  text-decoration: underline;
  cursor: pointer;
}
